div.jumbotron.carousel-hero {
  color: black;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('sick.jpg');
}

div.jumbotron.hero-photography {
  background-image: url('medical.jpg');
}

div.jumbotron.hero-technology {
  background-image: url('others.jpg');
}

div.jumbotron.hero-other {
  background-image: url('casual.jpg');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: black;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: black;
}

