{% load static %}
<footer>
  <div class="row">
      <div class="col-sm-6 col-md-4 text-center footer-navigation">
        <a href="{% url 'index' %}"><img src="{% static 'img/dark_logo.png' %}"></a>
    </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
          <div class="text-center">
              <p><span class="new-line-span" style="margin: px;margin-left: 0;">slms@gmail.com</span></p>
          </div>
          <div class="text-center">
              <p class="text-center footer-center-info email text-left" style="margin-left: 0;"> +975-17390974</p>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
          <div class="text-center social-links social-icons">
            <a href="https://www.facebook.com/GCIT.Bhutan"><i class="fa fa-facebook"></i></a>
            <a href="https://www.youtube.com/@gcit4943"><i class="fa fa-youtube-play"></i></a>
            <a href="https://www.linkedin.com/company/gyalposhing-college-of-information-technology/"><i class="fa fa-linkedin"></i></a></div>
      </div>
  </div>
</footer>