{% extends 'main.html' %}

{% load static %}

{% block content %}

<div id="wrapper">
    <div id="sidebar-wrapper" style="background-color: #00160a;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="{% url 'account' %}">MY ACCOUNT</a></li>
            <li> <a href="{% url 'leave' %}">Leave Section</a></li>
            <li> <a href="{% url 'applyleave' %}">Apply Leave</a></li>
            <li> <a href="{% url 'documents' %}">Documents</a></li>
        </ul>
    </div>
    <div class="page-content-wrapper">
        <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
            
            <div class="row">
                <div class="col-md-12">
                    <h4>&nbsp;<img src="{% static 'img/Rectangle%2046.png' %}" style="width: 20px;">&nbsp; Documents</h4>
                    <div class="text-right" style="margin-bottom: 5px;">
                        <!-- <a href="{% url 'create-document' %}" style="color: rgb(0,22,10);"><i class="fa fa-plus"></i> Upload Files</a> -->
                        <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'create-document' %}"><i class="fa fa-plus" style="margin-right: 3px;"></i> Upload Files</a>
                    </div>
                    <br>
                    <div class="row articles">
                        {% for document in documents %}
                        
                        <div class="col-sm-6 col-md-4 item"><img class="img-fluid" src="{{document.featured_image.url}}">
                            <h3 class="name">{{document.title}}</h3>
                            <p class="description">{{document.description}}</p>
                            <!-- <p class="description">{{document.owner}}</p> -->
                            <div class="text-left" style="margin-bottom: 1px;">
                                <a href="{% url 'delete-document' document.id %}" style="color: rgb(232,72,61);"><i class="fa fa-trash"></i> Delete</a>
                                <a href="{% url 'update-document' document.id %}" style="margin-left: 5px;"><i class="fa fa-edit"></i> Edit</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
