{% extends 'main.html' %}

{% load static %}

{% block content %}

<div id="wrapper">
    <div id="sidebar-wrapper" style="background-color: #00160a;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="{% url 'account' %}">MY ACCOUNT</a></li>
            <li> <a href="{% url 'leave' %}">Leave Section</a></li>
            <li> <a href="{% url 'applyleave' %}">Apply Leave</a></li>
            <li> <a href="{% url 'documents' %}">Documents</a></li>
        </ul>
    </div>
    <div class="page-content-wrapper">
        <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
            <div class="row">
                <div class="col-md-12">
                    <h4>&nbsp;<img src="{% static 'img/Rectangle%2046.png' %}" style="width: 20px;">&nbsp; Leave Section</h4>
                </div>
                <div class="col-md-12 search-table-col"><span class="counter pull-right"></span>
                    <div class="table-responsive table-bordered table table-hover table-bordered results">
                        <table class="table table-bordered table-hover">
                            <thead class="bill-header cs">
                                <tr>
                                    <th id="trs-hd" class="col-lg-1">Leave Type</th>
                                    <th id="trs-hd" class="col-lg-2">Status</th>
                                    <th id="trs-hd" class="col-lg-2">Leave Date</th>
                                    <th id="trs-hd" class="col-lg-2">Reason</th>
                                    <th id="trs-hd" class="col-lg-2">Action</th>
                                </tr>
                            </thead>
                            
                            {% for leave in leaves %}
                            <tbody> 
                                <tr>
                                    
                                    <td>{{leave.leave}}</td>
                                    <td>{{leave.status}}</td>
                                    <td>{{leave.created}}</td>
                                    <td>{{leave.reason|slice:"100"}}</td>
                                    <td style="text-align: center;">
                                        <a href="{% url 'delete-leave' leave.id %}" style="color: rgb(232,72,61);"><i class="fa fa-trash"></i> Delete</a>
                                        <a href="{% url 'edit-leave' leave.id %}" style="margin-left: 5px;"><i class="fa fa-edit"></i> Edit</a>
                                    </td>
                                </tr>   
                            </tbody>
                            {% endfor %}
                            
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}
