

{% extends 'main.html' %}

{% load static %}

{% block content %}

<div id="wrapper">
    <div id="sidebar-wrapper" style="background-color: #00160a;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="{% url 'admin' %}">ADMIN</a></li>
            <li> <a href="{% url 'users' %}">User</a></li>
            <li> <a href="{% url 'user-documents' %}">Users Documents</a></li>
            <li> <a href="{% url 'leaverequest' %}">Leave Request</a></li>
        </ul>
    </div>
    <div class="page-content-wrapper">
        <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
            <main class="formPage my-xl">
                <div class="content-box">
                    <div class="formWrapper">
                        <a class="backButton" href="{% url 'admin' %}"><i class="fa fa-angle-left"></i></a>
                        <br>
                        <h3>Change Password</h3>
            
                        <p>Enter your old password for your security reason and type your password twice.</p>
                        <br>
            
                        <form class="form" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                            <!-- <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" /> -->
                            <div class="form-group">
                                <input class="btn" type="submit" value="Submit" style="background-color: rgb(255,182,29);">
                            </div>

                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock content %}

