{% extends 'main.html' %}

{% load static %}

{% block content %}

<div id="wrapper">
    <div id="sidebar-wrapper" style="background-color: #00160a;">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"> <a href="{% url 'admin' %}">ADMIN</a></li>
            <li > <a href="{% url 'users' %}">User</a></li>
            <li> <a href="{% url 'user-documents' %}">Users Documents</a></li>
            <li> <a href="{% url 'leaverequest' %}">Leave Request</a></li>
        </ul>
    </div>

    <div class="page-content-wrapper">
        <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
            <br>
            <main class="home">
                <section class="hero-section text-center">
                    <div class="container container--narrow">
                      <div class="hero-section__box">
                        <h2>Search your <span>Student</span></h2>
                      </div>
              
                      <div class="hero-section__search">
                        <form id="searchForm" class="form" action="{% url 'users' %}" method="get">
                          <div class="form__field">
                            <label for="formInput#search">Search By Student ID </label>
                            <input class="input input--text" id="formInput#search" type="text" name="search_query"
                              placeholder="Search by Student ID or Name" value="{{search_query}}" />
                          </div>
              
                          <input class="btn btn--sub btn--lg" type="submit" value="Search" />
                        </form>
                      </div>
                    </div>
                </section>

                <section class="devlist">
                    <div class="container">
                        <div class="text-right" style="margin-bottom: 5px;">
                            <!-- <a href="" style="color: rgb(0,22,10);"><i class="fa fa-user"></i> Add User</a> -->
                            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'register' %}"><i class="fa fa-plus" style="margin-right: 3px;"></i> Add User</a>
                        </div>
                        
                        <div class="grid grid--three">
                        
                            {% for profile in profiles %}
                            {% if profile.user == 'admin' %}

                            {% else %}
                            <div class="column card">
                                <div class="dev">
                                <a href="{% url 'single-profile' profile.id %}" class="card__body">
                                    <div class="dev__profile">
                                    <img class="avatar avatar--md" src="{{ profile.profile_image.url }}" alt="image" />
                                    <div class="dev__meta">
                                        <h3>{{profile.name}}</h3>
                                        <h5>Student ID: {{profile.username}}</h5>
                                        <h5>Course: {{profile.course}}</h5>
                                        <h5>Year: {{profile.year}}</h5>
                                        <h5>Gender: {{profile.gender}}</h5>
                                    </div>
                                    </div>
                                    <div class="text-left" style="margin-bottom: 1px; ">
                                        <a href="{% url 'deleteUser' profile.id %}" style="color: rgb(232,72,61);"><i class="fa fa-trash"></i> Delete</a>
                                        <a href="{% url 'editUser' profile.id %}" style="margin-left: 5px;"><i class="fa fa-edit"></i> Edit</a>
                                    </div>
                                </a>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>      
                    </div>
                        
                </section>

                {% include 'pagination.html' with queryset=profiles custom_range=custom_range %}
                
            </main>
        </div>
        
    </div>
</div>

{% endblock content %}
